.page-header-top {
  background-image: url("/common/assets/imgs/header.png");
  background-repeat: no-repeat;
  /* for vertical repeat */
  background-color: #0d3783 !important;
  border-radius: 0px !important;
  .nav-link {
    color: #ffffff !important;
  }
}
