.breadcrumb{
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0; //1rem;
  list-style: none;
  background-color: #f0f0f0;
  border-radius: 0 !important;
}