a {
  color: #385898;
  cursor: pointer;
}

input, textarea, .css-1uccc91-singleValue{
  color: black !important;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
button {
  margin: 0 2px 0 2px;
}

svg {
  margin: 0 2px 0 2px;
}
