.pagination-custom {
  display: flex;
  justify-content: space-between;
  .nav-ul {
    display: flex;
    align-items: center;
    ul {
      margin-bottom: 0 !important;
      input{
        width: 40px;
        text-align: center;
      }
    }
  }
  .dropdown {
    display: flex;
    align-items: center;
  }
  .dropdown-menu{
    min-width: 0;
    overflow: hidden;
    .dropdown-item{
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}
